@use "./variables.scss" as *;

.segment {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    .dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $text-color;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      margin: auto;
      display: block;
    }

    &:hover .dot {
      opacity: 0;
    }

    &.hovered .popup-id {
      display: block;
    }

    
    .popup-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      font-family: 'PT Sans', sans-serif;
      color: $text-color;
      font-size: 20px;
      font-weight: 700;
    }
    .popup-id {
      width: 56px;
      height: 56px;
      background-color: $background-color;
      border: 1px solid #303E58;
      border-radius: 50%;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: fadeIn 0.2s ease-in-out;
      flex-shrink: 0;
      position: relative;
    }

  .category-year-label {
    margin-left: 20px;
    white-space: nowrap;
  }
  }

  .circle-outline {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #42567A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
  }