@use "../../styles/variables.scss" as *;
.event-slider-container {
  width: 1200px;
  position: relative;
  background-color:$background-color;
  padding-left: 80px;
  .swiper {
    padding: 0;
  }

  .swiper-slide {
    max-width: 300px;
    height: 135px;
  }

  .event-card {
    border-radius: 8px;
    height: 100%;

    max-width: 400px;
    width: fit-content;
    p {
      margin: 0;
      padding: 0;
    }
    .description {
      color: $text-color;
      line-height: 1.5;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      white-space: normal;
      word-break: break-word;
      margin-top: 15px;
    }
  }

  .year {
    font-family: "Bebas Neue", sans-serif;
    color: $year-text-color;
    font-size: 25px;
  }

  .description {
    color: $text-color;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
  }
}

.custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  appearance: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;

  &.prev {
    left: 20px;
  }

  &.next {
    right: -120px;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

